html
  head
    title Patient Chat
  body

    style
      include style.css

    
    h1#mainTitle PatientChat
    h2#subTitle Hospital Chat and Messaging System

    #mainBox
        #patientsList
        #doctorsList
