html
  head
    title Admin Page
  body
    h1#mainTitle PatientChat
    h2#subTitle Hospital Chat and Messaging System

    style
        include style.css

    #mainBox
        h2 Admin Login
        form(action="/adminLogin" method='POST')
            input(type="text" name='userName' placeholder="User name" required)
            input(type="password" name='password' placeholder="Password" required)
            input(type="submit" text='SUBMIT') 
