html
  head
    title Admin Page
  body
    h1#mainTitle PatientChat
    h2#subTitle Hospital Chat and Messaging System


    if success_messages.length>0
        p#notification #{success_messages}
    if error_messages.length>0
        p#notification #{error_messages}
    if message
        if message.length>0
            p#notification #{message}

    style
      include style.css

    #mainBoxAdmin
        h2 Admin Login
        form(action="/admin/login" method='POST')
            input(type="text" name='username' placeholder="User name" required)
            input(type="password" name='password' placeholder="Password" required)
            input(type="submit" text='SUBMIT') 
