html
  head
    title Doctor Home
  body

    style
      include style.css

    h1#mainTitle PatientChat
    h2#subTitle Hospital Chat and Messaging System

    script(src="/socket.io/socket.io.js")
    
    script.
        var addMessage = function(text,sender){
          var messageBox = document.createElement("DIV");
          var id = sender + "Message";
          messageBox.setAttribute("id",id);
          var node = document.createElement("LI");   
          var textnode = document.createTextNode(text);   
          node.appendChild(textnode);                           
          document.getElementById("chatBox").appendChild(node); 
        };

        var doctorData = !{JSON.stringify(doctorData)}

        var userName = doctorData.userName;
        var queryString = 'userType=doctor&userName='+userName;
        socket = io.connect('', {query: queryString });
        socket.on("message",function(data){
            addMessage(text,"received");
        });

        let sendMessage = function(){
          window.alert("yes");
          var text = document.getElementById("messageText");
          if(text!="")
          {
            addMessage(text,"sent");
            socket.emit("sendMessage",text);
          }
        };
    
    #mainBox
        if doctorData
          p #{doctorData.userName}

        #chatBox



        #messageWindow
         input(type="text" placeholder="Type...")#messageText
         button(onclick='sendMessage()')#sendMessage Send    
    form(action="/logout" method='GET')
      input(type="submit" value='LOGOUT')
