html
  head
    title Patient Home
  body

    style
      include style.css

    h1#mainTitle PatientChat
    h2#subTitle Hospital Chat and Messaging System

    script(src="/socket.io/socket.io.js")
    
    script.
        var addMessage = function(text,sender){
        //  window.alert("add message");
          var messageBox = document.createElement("DIV");
          var id = sender + "Message";
          messageBox.setAttribute("id",id);
          var node = document.createElement("P");   
          var textnode = document.createTextNode(text);   
          node.appendChild(textnode);    
          messageBox.appendChild(node);                       
          document.getElementById("chatBox").appendChild(messageBox); 
        };

        var doctorData = !{JSON.stringify(doctorData)}
        var id = !{JSON.stringify(id)}

        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('sw.js').then(function(reg) {
            console.log('Service Worker Registered!', reg);

            reg.pushManager.getSubscription().then(function(sub) {
              if (sub === null) {
                // Update UI to ask user to register for Push
                console.log('Not subscribed to push service!');
              } else {
                // We have a subscription, update the database
                console.log('Subscription object: ', sub);
              }
            });
          })
          .catch(function(err) {
            console.log('Service Worker registration failed: ', err);
          });
        }

        function subscribeUser() {
          if ('serviceWorker' in navigator) {
          navigator.serviceWorker.ready.then(function(reg) {

            reg.pushManager.subscribe({
              userVisibleOnly: true
            }).then(function(sub) {
              console.log('Endpoint URL: ', sub.endpoint);
            }).catch(function(e) {
              if (Notification.permission === 'denied') {
                console.warn('Permission for notifications was denied');
              } else {
                console.error('Unable to subscribe to push', e);
              }
            });
          })
          }
        }

        
        var userName = doctorData.userName;
        var queryString = 'userType=doctor&userName='+userName +"&userId=" + id;
        socket = io.connect('', {query: queryString });
        socket.on("message",function(text){
           // window.alert("message");
            addMessage(text,"received");
            socket.emit("saveMessage",{"text" : text, "type" : "received"});            
        });

        socket.on("partnerAvailable",function(data){
        //  window.alert("found partner");
          socket.emit("addPartner",data);
        });

        socket.on("emergency",function(data){
          
        });
        
        let sendMessage = function(){
          
          var text = document.getElementById("messageText").value;
          if(text!="")
          {
            addMessage(text,"sent");
            socket.emit("sendMessage",{ 'text' : text});
             document.getElementById("messageText").value = "";
              socket.emit("saveMessage",{"text" : text, "type" : "sent"});
          }
        };

        let disconnect = function(){
          socket.emit("logout"); 
          return true;
        }

    #mainBox
        if doctorData
          p #{doctorData.userName}

        #chatBox



        #messageWindow
         input(type="text" placeholder="Type...")#messageText
         button(onclick='return sendMessage()')#sendMessage Send    
    form(action="/logout" onsubmit='disconnect()' method='GET')
      input(type="submit" value='LOGOUT')
