html
  head
    title Doctor Home
  body
    h1 PatientChat
    h2 Hospital Chat and Messaging System

    script.
        
    
    
    #mainBox
        if userExists
            #chatBox
        if doctorData
          p #{doctorData.userName}