html
  head
    title Doctor Home
  body
    h1 PatientChat
    h2 Hospital Chat and Messaging System
        
    
    
    #mainBox
        if userExists
            #chatBox
        if doctorData
          p #{doctorData.userName}

    form(action="/logout" method='GET')
      input(type="submit" value='LOGOUT')