html
  head
    title Patient Chat
  body
    style
        include style.css

    h1#mainTitle PatientChat
    h2#subTitle Hospital Chat and Messaging System


    if success_messages.length>0
        p#notification #{success_messages}
    if error_messages.length>0
        p#notification #{error_messages}
    if message
        if message.length>0
            p#notification #{message}

    #mainBox
        #loginArea
            #patientLogin
                h2 Patient Login
                form(action="/patientLogin" method='POST')
                    input(type="text" name='username' placeholder="User name" required)
                    input(type="password" name='password' placeholder="Password" required)
                    input(type="submit" text='SUBMIT') 
            #doctorLogin
                h2 Doctor Login
                form(action="/doctorLogin" method='POST')
                    input(type="text" name='username' placeholder="User name" required)
                    input(type="password" name='password' placeholder="Password" required)
                    input(type="submit" text='SUBMIT')
        #registerArea
            #patientRegister
                h2 Patient Signup
                form(action="/patientRegister" method='POST')
                    input(type="text" name='username' placeholder="User name" required)
                    input(type="text" name='fullName' placeholder="Full name" required)
                    input(type="number" name='age' placeholder="Age" required)
                    input(type="email" name='email' placeholder="email" required)
                    input(type="password" name='password' placeholder="Password" required)
                    label(for="gender") Gender
                    select(name = "gender") 
                        option(value = "male") M
                        option(value = "female") F
                    input(type="submit" text='SUBMIT')
            #patientRegister
                h2 Doctor Signup
                form(action="/doctorRegister" method='POST')
                    input(type="text" name='username' placeholder="User name" required)
                    input(type="text" name='fullName' placeholder="Full name" required)                    
                    input(type="number" name='age' placeholder="Age" required)
                    input(type="email" name='email' placeholder="email" required)
                    input(type="password" name='password' placeholder="Password" required)
                    label(name="department") Department
                    select(name = "department")
                        option(value = "Skin") Skin
                        option(value = "ENT") ENT
                        option(value="Cardio") Cardio
                    input(type="submit" text='SUBMIT')