html
  head
    title Patient Home
  body
    h1 PatientChat
    h2 Hospital Chat and Messaging System

    script.
        
    
    
    #mainBox
        if userExists
            #chatBox
        if patientData
          p #{patientData.userName}